@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, aqua;
}

body {
  background-color: #f9fafb;
  color: #111827;
  min-height: 100vh;
}

.input:focus,
.select:focus,
.textarea:focus {
  --tw-ring-color: transparent !important;
  border-color: #9ca3af !important;
}